# Cmake stuff and thingamajiggers
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
# And ninja
.ninja_deps
.ninja_log
build.ninja

# The executables
gearlang
# I use msys sometimes
gearlang.exe

# Generated Assembler and Executables
_start_stub.o
build.llvm
build.bc
build.o
build

# I use codespaces sometimes
.vscode/
