# Cmake stuff and thingamajiggers
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
.cache/
/parse/
/generate/
# And ninja
.ninja_deps
.ninja_log
build.ninja

# The executables
/gear
/liblibgear.so

# Generated output
build/
build.llvm
build.o
a.out

# I use codespaces sometimes
.vscode/
compile_commands.json
